<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <title>Document</title>
</head>
<body>
    <div class='w3-container'>
        <div class=w3-bar w3-green>
            <a href="{{ url_for('home') }}" class='w3-bar-item w3-button'>Home</a>
            <a href="{{ url_for('uploads') }}" class='w3-bar-item w3-button'>Upload</a>
            <a href="{{ url_for('get_all_models') }}" class='w3-bar-item w3-button'>Get All</a>
        </div>
        {% block content%}
        {% endblock %}
    </div>
</body>
</html>